
@import url("catppuccin.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --header-height: 3.5rem;

    /* Colours */
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 92%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(352,75%,60%);
    --color-dark: hsl(252,30%,17%);

    /* Font */
    --body-font: 'Rubik', sans-serif;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.85rem;

    --font-medium: 400;
    --font-semi-bold: 600;

    --card-padding: 1.9rem 0.95rem;
    --border-radius: 1.25rem;
    --box-shadow: 0px 5px 20px 0px rgba(69,67,96,0.1);
}

/* My CSS Boiler Plate START */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;

}

body {
  box-sizing: border-box;
  font-size: var(--normal-font-size);
  background-color: var(--ctp-mocha-base);
  /* color: var(--ctp-mocha-text); */
  color: #fff;
  font-weight: var(--font-medium);
}

/* My CSS Boiler Plate END */

/* Base settings START */

body,
button,
input,
textarea{
    font-family: 'Rubik', sans-serif;

}


img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--ctp-mocha-text);
}

h1,h2,h3{
    font-weight: var(--font-semi-bold);
}

h1{
  font-size: var(--h1-font-size);
}

h2{
  font-size: var(--h2-font-size);
}

h3{
  font-size: var(--h3-font-size);
}


/* Base settings END */

/* Reuse Settings START */

.container{
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  /* overflow: hidden; */
  /* background-color: aliceblue; */
}


/* Reuse Settings END */

/* Navbar START */

.nav{
  padding-left: 15px;
  padding-right: 15px;
  /* max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; */
}


.header{
  width: 100%;
  background-color: var(--ctp-mocha-base);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header a{
  color: var(--ctp-mocha-text);
}

.nav{
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
}

.nav-logo{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.125rem;
  position: relative;
}

.nav-logo::after{
  position: absolute;
  content: '';
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: var(--ctp-mocha-mauve);
  top: 56%;
  right: -0.25rem;
}

.nav-logo:hover{
  color: var(--ctp-mocha-mauve);
}

.nav-menu{
  margin-left: auto;
}

.nav-list{
  display: flex;
  column-gap: 3rem;
}

.nav-link{
  font-weight: 500;
  transition: .3s;
}

.nav-link:hover{
  color: var(--color-primary);
}

.nav-close{
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav-btns{
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

.change-theme{
  color: var(--color-dark);
  font-size: 1.15rem;
  cursor: pointer;
}

.nav-toggle{
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-toggle,
.nav-close
{
  display: none;
}

.active-link{
  position: relative;
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: var(--color-primary);
}

/* Navbar END */

/* Home START */

.home-section{
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  /* height: 100vh; */
  min-height: 60vh;
  padding-top: 10rem;
  padding-bottom: 50px;
}

.home-greeting{
  max-width: 540px;
  /* background-color: rebeccapurple; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px 0;
}

.home-section img{
  margin-bottom: 15px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: var(--ctp-mocha-teal);
}

.home-section h2{
  margin-bottom: 15px;
}

.home-about{
  font-size: 1.2rem;
}

.home-section .social-icons{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.social-icons li{
  display: inline-block;
}

.social-icons li a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
  background-color: var(--ctp-mocha-crust);
  border-radius: 50%;
  padding: 12px;
}

.social-icons li a i{
  color: #fff;
}


.social-icons li a:hover{
  transition: 0.3s ease-in;
  background-color: var(--ctp-mocha-lavender);
}

.resume-button{
  background-color: var(--color-primary);
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.25rem;
  vertical-align: middle;
}

.resume-button:hover, .resume-button:hover a{
  transition: 0.2s;
  background-color: var(--ctp-mocha-sky);
  color: black;
}

.resume-button a{
  color: #fff;
}



/* Home END */

.section .container{
  padding-top: 7rem;
  /* padding-bottom: 2rem; */
}

.padd-15{
  padding-left: 15px;
  padding-right: 15px;
}

.section-title{
  font-size: 3rem;
  /* margin-left: 0.75rem; */
  margin-bottom: 2rem;
  text-align: center;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.section .container:last-child{
  padding-bottom: 7rem;
}

/* About START */

/* .about-img{
  flex: 0 0 25%;
  max-width: 25%;
}

.about-img img{
  /* border-radius: 1.9rem;
  border-radius: 50%;
}

.about-content{
  flex: 0 0 75%;
  max-width: 75%;
  border-radius: 1.25rem;
  background-color: var(--color-white);
  padding: 1.9rem 1rem;
}

.about-content .about-text{
  /* flex: 0 0 50%;
  max-width: 50%;
  line-height: 1.3;
  font-size: 1.2rem;
  /* letter-spacing: 1px;
} */


/* About END */


/* Projects START */
.portfolio .portfolio-filter{
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 50px;
  min-height: 80vh;
}

.portfolio .portfolio-filter button{
  border: none;
  background-color: transparent;
  font-weight: var(--font-semi-bold);
  text-transform: capitalize;
  margin: 0 1rem 1.5rem;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;
  /* color: #fff; */
  color: var(--ctp-mocha-text);
}

.portfolio .portfolio-filter button.active{
  color: var(--color-primary);
  position: relative;
}

.portfolio .portfolio-filter button.active::before{
  content: '';
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: var(--color-primary);
  border-radius: 50%;
}


.portfolio-item{
  /* flex: 0 0 33.33%; */
  /* max-width: 33.33%; */
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
  margin-bottom: 50px;
}

.portfolio-item-inner{
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  border-radius: 0.5rem;
}

.portfolio-item-thumbnail{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.portfolio-item-thumbnail img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}


.portfolio-item .mask{
  background: rgba(0,0,0,.9);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}

.portfolio-item-tag{
  color: #fff;
  background-color: var(--color-primary);
  border-bottom-left-radius: 0.98rem;
  border-bottom-right-radius: 0.98rem;
  position: absolute;
  top: 0;
  left: 1.5rem;
  font-size: var(--small-font-size);
  display: inline-block;
  padding: 0.4rem 0.625rem;
  transition: 0.3s;
  opacity: 0;
}

.portfolio-item h3{
  color: #fff;
  font-size: 1.25rem;
  /* margin-bottom: 1rem; */
  position: absolute;
  /* padding: 0 1.25rem; */
  width: 100%;
  padding: 10px;
  bottom: 0;
  opacity: 1;
  font-weight: bold;
  background-color: var(--ctp-mocha-crust);
  text-align: center;
}

.portfolio-item-description{
  color: #fff;
  position: absolute;
  top: 40%;
  padding: 0 1.25rem;
  opacity: 0;
}

.portfolio-item-links{
  display: flex;
  align-items: center;
  column-gap: 20px;
  position: absolute;
  bottom: 5%;
  left: 1.25rem;
  opacity: 0;
  transition: 0.3s;
}

.portfolio-item-links i{
  padding: 10px;
  border-radius: 50%;
  background-color: var(--ctp-latte-base);
  color: var(--ctp-mocha-crust);
  text-align: left !important;
}

.portfolio-item-inner:hover .mask,
.portfolio-item-inner:active .mask
{
  opacity: 0.9;
}

.portfolio-item-links i:hover{
  background-color: var(--ctp-mocha-blue);
}

.portfolio-item-inner:hover span, .portfolio-item-inner:hover .portfolio-item-description, .portfolio-item-inner:hover .portfolio-item-links,
.portfolio-item-inner:active span, .portfolio-item-inner:active .portfolio-item-description, .portfolio-item-inner:active .portfolio-item-links
{
  opacity: 1;
}

.portfolio-item-inner:hover h3,
.portfolio-item-inner:active h3
{
  top: 3.75rem;
  padding: 0 1.25rem;
  background-color: transparent;
  text-align: left;
  color: var(--color-white);
}

.portfolio-item-inner:hover,
.portfolio-item-inner:active
{
  padding-bottom: 0;
}

.portfolio-item-inner:hover  .portfolio-item-thumbnail,
.portfolio-item-inner:active  .portfolio-item-thumbnail
{
  height: 370px;
  transition: 0.2s;
}

/* Projects END */



/* Work Experience START */

/* .work{
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
} */

.work-experience{
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 25px;
  min-height: 55vh;
}

.timeline-box{
  flex: 0 0 100%;
  max-width: 100%;
}

.timeline{
  background-color: var(--ctp-mocha-surface0);
  padding: 2.5rem 3rem 4rem;
  border-radius: 1.25rem;
  width: 100%;
  position: relative;
}

.timeline .timeline-item{
  position: relative;
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 1.2rem;
}

.timeline .timeline-title{
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}

.timeline .timeline-item:last-child{
  padding-bottom: 0;
}

.timeline .timeline-item::before{
  content: '';
  width: 1px;
  position: absolute;
  height: 100%;
  left: 0.5rem;
  background-color: var(--ctp-mocha-green);
  top: 0.5rem;
}

.timeline .timeline-icon{
  position: absolute;
  left: -0.25rem;
  top: 0.5rem;
  font-size: 1.5rem;
  color: var(--ctp-mocha-green);

}

.timeline .timeline-date, .timeline-location{
  color: var(--ctp-mocha-subtext1);
  font-size: 0.85rem;
  margin-bottom: 0.2rem;
}

.timeline .timeline-location{
  margin-bottom: 0.8rem;
}

.timeline .timeline-date .lni, .timeline .timeline-location .lni{
  margin-right: 0.2rem;
}


/* Work Experience END */



/* Footer START */

footer{
  width: 100%;
  border-top: 1px solid black;
}

.footer-section{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.footer-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-icons{
  display: flex;
  column-gap: 20px;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.footer-section a:hover{
  color: var(--ctp-mocha-red);
}

/* Footer END */

/* Media Queries */

@media screen and (max-width:900px) {

  .nav-list{
    flex-direction: column;
    row-gap: 1.5rem;
  }  
  .nav-menu{
    position: fixed;
    background-color: var(--ctp-mocha-crust);
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    padding: 4rem 0 0 3rem;
    z-index: 100;
    transition: 0.3s;
  }

  .nav-close,
  .nav-toggle{
    display: inline-flex;
  }

  .show-menu{
    right: 0;
  }

  .portfolio-item-thumbnail{
    height: 280px;
  }

  .portfolio-item-inner:hover  .portfolio-item-thumbnail,
  .portfolio-item-inner:active  .portfolio-item-thumbnail{
    height: 300px;
    transition: 0.2s;
  }
  .portfolio-item-description{
    top: 35%;
  }
}

@media screen and (max-width: 800px) {
  .container{
    max-width: 568px;
  }
  .portfolio-item{
    flex: 0 0 100%;
    max-width: 550px;
    margin: 0 auto 40px;
  }
}

@media screen and (max-width:600px){
  .footer-section{
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }
  .footer-info{
    align-items: center;
    row-gap: 5px;
  }
  .portfolio-item{
    flex: 0 0 100%;
    max-width: 400px;
    margin: 0 auto 40px;
  }

}